<div class="card">
  <div class="card-body">
    <h5 class="card-title text-muted text-uppercase text-center">{{ title }}</h5>
    <h6 class="card-price text-center">{{ price }}<span class="period">/month</span></h6>
    <hr>
    <ul class="fa-ul">
      <li *ngFor="let feature of features;index as i" [ngClass]="{'text-muted' : !textSymbol[i]}">
        <span [ngClass]="{'fa-check' : textSymbol[i] , 'fa-times' : !textSymbol[i]}" class="fa fa-li"></span>{{ feature }}
      </li>
    </ul>
    <div class="d-grid">
      <a href="#" class="btn btn-primary text-uppercase">Button</a>
    </div>
  </div>
</div>
